<hr />
<% if current_user != nil %>
    <% @users.each do |u| %>
        <div><h1><%= u.username %></h1>
            <% u.photos.each do |p| %>
                <%= image_tag p.image.url(:medium) %><br />
            <% end %>
        </div>
    <% end %>
<% end %>