/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import 'bootstrap';

::selection                      { background-color: transparent; }
html                             { min-width: 900px; }
img                              { outline: 0; }
body                             { margin: 90px 0; background: url('bg.jpg') repeat; background-color: rgb(82,101,116); }
.post_image                      { box-shadow: 10px 10px 5px rgba(144,144,144,.3); background-image: -webkit-linear-gradient(top,#517fa4,#183044); width: 524px; height: 188px; border-radius: 16px; border: 0; }
#img_prev                        { max-width: 153px; min-width: 153px; max-height: 150px; min-height: 150px; background-color: rgb(168,191,209); box-shadow: 6px 6px 5px rgb(40,63,82); border-radius: 9px; padding: 7px; margin-top: 1px; }
.well                            { margin: 0 auto; }
input[type="file"]               { max-width: 248px; overflow: hidden; }
#image_placeholder               { margin-left: 20px; }
.image_feed_background_container { width: 572px; margin: 35px auto; border-radius: 16px; padding-bottom: 27px; background-image: -webkit-gradient(linear, 45% 0%, 0% 0%, from(rgb(115,152,182)), to(rgb(24,48,68))); }
.image_feed                      { margin-top: 20px; border-radius: 12px; width: 528px; background-color: #fff; box-shadow: 6px 6px 5px rgba(144,144,144,1); }
.feed_user_name                  { font-family: 'Lobster', cursive; font-size: 35px; margin: 16px 4px 6px 9px; float: left; cursor: default; }
#photo_content                   { margin-top: 16px; width: 312px; height: 100px; resize: none; background-color: rgb(168,191,209); border-radius: 14px; padding: 7px; }
.image                           { min-width: 500px; max-width: 500px; min-height: 374px; max-height: 374px; border: 1px solid rgba(144,144,144,1); border-radius: 12px; }
textarea, input                  { font-family: "Georgia", Times, serif; color: #000; font-size: 16px; outline: 0; padding: 3px 4px; border-radius: 14px; }
textarea:focus, input:focus      { font-family: "Georgia", Times, serif; color: #000; font-size: 16px; outline: 0; padding: 3px 4px; border-radius: 14px; }
.btn-file                        { position: relative; overflow: hidden; margin-left: 30px;  border-color: rgb(56,88,114); }
.post_photo_button               { margin-left: 63px; }
.btn-file input[type=file]       { position:absolute; top:0; right:0; min-width:100%; min-height:100%; font-size:100px; text-align:right; filter: alpha(opacity=0);  opacity:0; outline:none; background:#5cb85c; cursor:inherit; display:block; }
.btn-default                     { font-size: 14px; color: #fff; background-color: #5cb85c; }
.btn-default:hover               { font-size: 14px; color: #fff; background-color: #449d44; box-shadow: inset 2px 1px 15px #2E5C2E; }
.image_feed_text                 { margin: 8px 8px; max-width: 350px; cursor: default; }
.time_right                      { float: right; margin-top: 4px; cursor: default; }
.time_right::before              { content: 'Posted '; }
.special, .special:focus         { background-color: transparent; border: 1px solid white; border-radius: 0; margin-left: 10px; }
.sign-up-form                    { background: -webkit-linear-gradient(top,#808080,#BFBFBF); width: 350px; margin: 0 auto; border-radius: 9px!important; }
#sign-up-button                  { margin-top: 9px; }
.sign-up-title                   { text-align: center; font-size: 3.8em; margin-top: -20px; font-family: 'Lobster', cursive; }
.sign-up-back-button             { margin-top: 12px; margin-bottom: -8px }
.current-user-logged-in-navbar   { margin-top: 13px; margin-right: 9px; color: #fff; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { background-color: inherit; }
.navbar-default { background-image: -webkit-linear-gradient(top,#517fa4,#183044); }
.navbar-brand, .active > a       { color: #fff!important; font-family: 'Lobster', cursive; font-size: 28px; font-variant: small-caps; }